@import url('https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Homepage */

.homepage-background {
    background-color: #001B71;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    padding: 20px;
}

.homepage-top-text {
    width: 1260px;
    height: 168px;
    color: #001B71;
    gap: 30px;
    font-family: Sansation;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.homepage-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 100px 200px 100px;
}

.title {
    width: 1260px;
    color: #001B71;
    font-family: Sansation;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.title-white {
    color: #fff;
    font-family: Sansation;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.subtitle-white {
    color: #FFB548;
    font-family: Sansation;
    font-size: 30px;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    text-align: center;
    width: 100%;
    max-width: 600px;
}

.description-white {
    color: #fff;
    font-family: Sansation;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 900px;
}

.description {
    width: 1084px;
    height: 164px;
    color: #001B71;
    font-family: Sansation;
    font-size: 40px;
    font-weight: 400;
}

.homepage-buttons {
    display: flex;
    gap: 100px;
}

.homepage-button {
    border-radius: 16px;
    background: #69AAE4;
    width: 500px;
    height: 550px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
}

.homepage-button-text {
    font-size: 32px;
    font-family: Sansation;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.homepage-button-description {
    font-size: 25px;
    font-family: Sansation;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin-top: 15px;
}

.homepage-button-image {
    width: 360px;
    height: 360px;
    margin-bottom: 40px;
}

canvas {
    background-color: white;
    width: 2500px;
    height: 1100px;
    border-radius: 30px;
}

.website-top {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 430px;
}

.punchup-pic {
    width: 100%;
    max-width: 1000px;
    height: 100%;
    max-height: 1000px;
}

website-top-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #001B71;
    font-family: Sansation;
    font-weight: 700;
}

.drawing-board {
    border-color: black;
}

.background {
    background-color: white;
}

.header, .free-drawing-header {
    height: 180px;
    gap: 20px;
    align-items: center;
    justify-content: center;
    background: black;
    display: flex;
}

.header {
    justify-content: center;
}

.free-drawing-header {
    justify-content: center;
    padding-left: 2100px;
}

.mode-title {
    color: #fff;
    font-size: 60px;
    font-family: Sansation;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin-bottom: 20px;
}

.text-button {
    border-radius: 30px;
    border: none;
    font-family: Sansation;
    font-size: 35px;
    font-weight: bold;
}

.text-button:hover {
    cursor: pointer;
}

.text-button:active {
    cursor: pointer;
    transform: scale(1.1);
}

.text-button--light {
    background: #FFF;
    color: #001B71;
}

.text-button--light:hover,
.text-button--light:active {
    background-color: #98A2C2;
}

.text-button--accent {
    background: #FFB548;
    color: #fff;
}

.text-button--accent:hover,
.text-button--accent:active {
    background-color: #B07827;
}

.generate-prompt {
    width: 356px;
    height: 100px;
}

.prompt {
    color: #000E3A;
    font-size: 40px;
    font-family: Sansation;
    padding: 20px 30px;
    width: 1700px;
    height: 90px;
    border-radius: 16px;
    background-color: #FFF;
}

.drawing-section {
    background: #000E3A;
    display: flex;
    justify-content: center;
    padding: 130px;
    height: 2450px;
    gap: 40px;
}

.pencil, .eraser, .stroke-width, .stroke-color, .trash {
    width: 100%;
    max-width: 90px;
    height: 100%;
    max-height: 90px;
    border: none;
    &:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
    &:active {
        cursor: pointer;
        transform: scale(1.1);
    }
}

.redo, .undo, .download {
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 500px;   
    &:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
    &:active {
        cursor: pointer;
        transform: scale(1.1);
    }
}

.stroke-color {
    padding: 15px 15px;
    width: 800px;
    height: 800px;
    font-size: 25px;
    font-family: Sansation;
    border-radius: 10px;
}

.toolbar {
    width: 100%;
    max-width: 170px;
    height: 100%;
    max-height: 830px;
    border-radius: 100px;
    background: #69AAE4;
    display: flex;
    flex-direction: column;
    padding: 55px 35px 55px 40px;
    gap: 80px;
    margin-top: 100px;
}

.menu {
    position: absolute;
    font-size: 40px;
    background: white;
    line-height: normal;
    z-index: 100;
    width: 100%;
    max-width: 400px;
    height: 100%;
    max-height: 250px;
    padding: 20px;
}

.map {
    padding: '8px 12px';
    cursor: 'pointer';
    font-family: Sansation;
    &:hover {
        background-color: #69AAE4;
    }
}

.stroke {
    width: '40px';
}

.drawing-name {
    padding: 15px 20px;
    width: 2000px;
    height: 100px;
    font-size: 35px;
    font-family: Sansation;
    border-radius: 50px;
}

.route-button {
    width: 300px;
    height: 100px;
}

.bottom-section {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    margin-top: 50px;
}

.bottom-section-buttons {
    display: flex;
    gap: 100px;
    height: 100%;
    max-height: 500px;
    width: 100%;
    max-width: 450px;
}   

.drawing-section-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    gap: 300px;
    width: 100%;
    height: 100%;
    max-height: 100px;
    margin-bottom: 20px;
}

.timer-section {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-bottom: 1500px;
    justify-content: center;
    gap: 40px;
}

.timer-button {
    width: 150px;
    height: 70px;
    border: none;
    &:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
    &:active {
        cursor: pointer;
        transform: scale(1.1);
    }
}

.timer {
    color: #fff;
    font-size: 100px;
    font-family: Sansation;
    font-weight: bold;
    align-self: center;
}

.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 40px;
    z-index: 1000;
}

.modal-button {
    width: 100%;
    background: #69AAE4;
    margin-top: 20px;
    border-radius: 30px;
    padding: 10px 20px;
    color: #fff;
    max-width: 200px;
    height: 100%;
    max-height: 70px;
    justify-self: center;
    border: none;
    &:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
    &:active {
        cursor: pointer;
        transform: scale(1.1);
    }
}

.modal {
    background: white;
    color: #001B71;
    font-size: 40px;
    font-family: Sansation;
    font-weight: bold;
    width: 100%;
    max-width: 600px;
    height: 100%;
    max-height: 300px;
    padding: 60px 48px;
    align-items: center;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
}
