.title {
    width: 1260px;
    height: 168px;
    color: #001B71;
    font-family: Sansation;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.description {
    width: 684px;
    height: 164px;
    color: #001B71;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
}

canvas {
    background-color: white;
    width: 1500px;
    height: 700px;
    border-radius: 30px;
}

.website-top {
    align-items: center;
    padding: 70px;
}

.drawing-board {
    border-color: black;
    margin-left: 200px;
}

.background {
    background-color: white;
}

.header {
    width: 2265px;
    height: 111px;
    background: black;
}

.generate-prompt {
    border-radius: 16px;
    background: #FFB548;
    width: 156px;
    height: 43px;
    color: #fff;
    font-family: Sansation;
}

.prompt {
    color: white;
    font-family: Sansation;
}

.drawing-section {
    background: #000E3A;
    display: flex;
    padding: 130px;
}

.toolbar {
    width: 75.636px;
    height: 284px;
    border-radius: 40px;
    background: #69AAE4;
    flex-direction: column;
    align-content: center;
}

.stroke-color {
    margin-bottom: 20px;
    border-radius: 100px;
    border-color: #fff;
    background-color: #fff;
    width: 38px;
    height: 38px;
}

.menu {
    position: 'absolute';
    top: '100%';
    left: 0;
    background: '#fff';
    z-index: 10;
}

.map {
    padding: '8px 12px';
    cursor: 'pointer';
}

.stroke {
    width: '40px';
}

.drawing-name {
    width: 492px;
    height: 40px;
    border-radius: 18px;
}