*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.title {
    width: 1260px;
    height: 168px;
    color: #001B71;
    font-family: Sansation;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.description {
    width: 884px;
    height: 164px;
    color: #001B71;
    font-size: 25px;
    font-weight: 700;
    line-height: normal;
}

canvas {
    background-color: white;
    width: 1500px;
    height: 700px;
    border-radius: 30px;
}

.website-top {
    align-items: center;
    padding: 70px;
}

.drawing-board {
    border-color: black;
    margin-left: 200px;
}

.background {
    background-color: white;
}

.header {
    width: 2281px;
    height: 111px;
    gap: 20px;
    background: black;
    display: flex;
}

.generate-prompt {
    border-radius: 16px;
    background: #FFB548;
    width: 256px;
    height: 60px;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    font-family: Sansation;
}

.prompt {
    color: #000E3A;
    font-size: 25px;
    font-family: Sansation;
    width: 800px;
    height: 60px;
    border-radius: 16px;
    background-color: #FFF;
}

.drawing-section {
    background: #000E3A;
    display: flex;
    padding: 130px;
}

.pencil {
    height: 60px;
}

.eraser {
    height: 60px;
}

.toolbar {
    width: 85.636px;
    height: 584px;
    border-radius: 40px;
    background: #69AAE4;
    display: flex;
    flex-direction: column;
}

.stroke-color {
    margin-bottom: 20px;
    border-radius: 100px;
    border-color: #fff;
    background-color: #fff;
    width: 60px;
    height: 60px;
    align-self: center;
}

.stroke-width {
    height: 60px;
    width: 60px;
    margin-left: 13px;
}

.menu {
    position: 'absolute';
    top: '100%';
    left: 0;
    font-size: 15px;
    background: white;
    z-index: 10;
}

.map {
    padding: '8px 12px';
    cursor: 'pointer';
}

.stroke {
    width: '40px';
}

.drawing-name {
    width: 492px;
    height: 40px;
    border-radius: 18px;
}

.free-draw {
    border-radius: 16px;
    border: 2px solid #000;
    background: #FFF;
    width: 170px;
    height: 60px;
    color: #001B71;
    text-align: center;
    font-family: Sansation;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.challenge {
    border-radius: 16px;
    border: 2px solid #000;
    background: #FFF;
    width: 170px;
    height: 60px;
    color: #001B71;
    text-align: center;
    font-family: Sansation;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.bottom-section {
    display: flex;

}